.link-menu{
  color: #002c45 !important;
  margin: 0 25px;
}
.nav-pills .nav-link.active{
  background-color: #002c45;
  color: white !important;
}
@media (max-width: 768px) {
  .link-menu{
      margin: 0 2px;
  }
}
input{
  accent-color: #002c45;
}
.label-opcion{
  font-size: 1.3rem;
  font-weight: 500;
  color: #002c45;
  display: block;
}
.select-opcion{
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: rgb(0, 44, 69, 0.15);
  width: 60%;
}
.queso-select{
  padding: 0.5rem;
  border-radius: 0.8rem;
  background-color: rgb(0, 44, 69, 0.15);
  width: 60%;
}
#quesoDiv .select-opcion{
  width: 60%;
  margin-top: 0.2rem;
  margin-bottom: 0.3em;
}
.pedido-actual{
  font-weight: 300;
  padding: 10px 20px;
  padding-top: 30px;
  border-radius: 0.7rem;
  color: #002c45;
  background-color: rgb(0, 44, 69, 0.15);
  width: 100%;
}
.lado-pizza{
  font-weight: 500;
  margin-bottom: 0;
}

.label-checkbox{
    font-weight: 300;
    color: #002c45;
}

@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?7jqkd4');
    src:  url('../fonts/icomoon.eot?7jqkd4#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?7jqkd4') format('truetype'),
      url('../fonts/icomoon.woff?7jqkd4') format('woff'),
      url('../fonts/icomoon.svg?7jqkd4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    /* speak: never; */
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;

    color: #002c45;
    padding: 1px;
    padding-top: 1.4px;
    font-size: 1.8rem;
    line-height: 1;
    transition: all ease 1s;
    border: #002c45 solid 2px;
    border-radius: 50%;
    background-color: transparent;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
.icon-circulo-mitad-izquierda:before {
  content: "\e900";
}
.icon-circulo-mitad-derecha:before {
  content: "\e901";
}
.icon-circulo-completo:before {
  content: "\e902";
}
.icono-circulo{
  margin: 0 6px;
}
#ingredientesDiv .icono-circulo{
  font-size: 1.4rem;
  margin-left: 0;
}


.contenedor-mitades{
  display: none;
}
button.active-mitad, .icono-circulo:hover{
  color: #DC2F34;
}




.contenedor-imagen-pizza{
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.contenedor-imagen-pizza .imagen-pizza-base{
  background-size: cover;
}

.ingrediente-izquierdo{
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ingrediente-derecho{
  width: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1) scaleY(-1);
}
.cheese-icon{
  position: absolute;
  top: 42%;
  right: 3%;
  right: 2.5%;
  transform: translate(-50%, -50%);
  width: 5%;
}

.tomato-icon{
  position: absolute;
  top: 58%;
  right: 2.5%;
  transform: translate(-50%, -50%);
  width: 5%;
  /* color: #002c45;
  font-size: 1.5rem; */
}

#limit-modal{
  position: absolute;
  background-color: #dddddde7;
  padding: 20px 10px;
  border-radius: 10px;
  width: 50%;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
#limit-message{
  margin: 0;
  color: red;
  font-size: 1.3rem;
  font-weight: 500;
  transition: all 1s ease;
}