.link-menu{
    color: #002c45 !important;
    margin: 0 25px;
}

.tarjeta-menu{
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    transition: all ease 1s;
    overflow: hidden;
}
.tarjeta-menu:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.tarjeta-menu img{
    border-radius: 15px;
    /* margin: 10px auto; */
}
.tarjeta-menu p{
    color: #002c45;
    font-size: 1.3rem;
    font-weight: 300;
}
.tarjeta-menu button{
    background-color: #DC2F34;
    color: #f4f5f7;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    transition: all ease 0.7s;
}

.tarjeta-menu button:hover{
    background-color: #002c45;
}

@media (max-width: 768px) {
    .link-menu{
        margin: 0 2px;
    }
}